<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Scholar</display-name>
  <!--所有的url请求都被sptingmvc处理-->
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <!--DispatcherServlet-->
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:applicationContext.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- 字符集过滤器 -->
  <filter>
    <description>字符集过滤器</description>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


  <!--session过期时间：120分钟-->
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <!--<servlet>-->
    <!--<servlet-name>UserSer</servlet-name>-->
    <!--<servlet-class>com.quan.controller.UserControllertroller</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet>-->
    <!--<servlet-name>ReleaseHomeworkSer</servlet-name>-->
    <!--<servlet-class>com.quan.controller.ReleaseHomeworkSer</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet>-->
    <!--<servlet-name>LessonStudentListSer</servlet-name>-->
    <!--<servlet-class>com.quan.controller.LessonStudentListSer</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet>-->
    <!--<servlet-name>PrivateMessageSer</servlet-name>-->
    <!--<servlet-class>com.quan.controller.PrivateMessageSer</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet>-->
    <!--<servlet-name>DownLoadServlet</servlet-name>-->
    <!--<servlet-class>com.quan.controller.DownLoadServlet</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet>-->
    <!--<servlet-name>ListFileServlet</servlet-name>-->
    <!--<servlet-class>com.quan.controller.ListFileServlet</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet>-->
    <!--<servlet-name>UploadHandleServlet</servlet-name>-->
    <!--<servlet-class>com.quan.controller.UploadHandleServlet</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet>-->
    <!--<servlet-name>LessonSer</servlet-name>-->
    <!--<servlet-class>com.quan.controller.LessonSer</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet>-->
    <!--<servlet-name>SelfSer</servlet-name>-->
    <!--<servlet-class>com.quan.controller.SelfSer</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet>-->
    <!--<servlet-name>LessonUpdateSer</servlet-name>-->
    <!--<servlet-class>com.quan.controller.LessonUpdateSer</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet>-->
    <!--<servlet-name>FocusSer</servlet-name>-->
    <!--<servlet-class>com.quan.controller.FocusSer</servlet-class>-->
  <!--</servlet>-->
  <!---->
  <!--<servlet-mapping>-->
    <!--<servlet-name>UserSer</servlet-name>-->
    <!--<url-pattern>/UserSer</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>ReleaseHomeworkSer</servlet-name>-->
    <!--<url-pattern>/ReleaseHomeworkSer</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>LessonStudentListSer</servlet-name>-->
    <!--<url-pattern>/LessonStudentListSer</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>PrivateMessageSer</servlet-name>-->
    <!--<url-pattern>/PrivateMessageSer</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>DownLoadServlet</servlet-name>-->
    <!--<url-pattern>/DownLoadServlet</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>ListFileServlet</servlet-name>-->
    <!--<url-pattern>/ListFileServlet</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>UploadHandleServlet</servlet-name>-->
    <!--<url-pattern>/UploadHandleServlet</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>LessonSer</servlet-name>-->
    <!--<url-pattern>/LessonSer</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>SelfSer</servlet-name>-->
    <!--<url-pattern>/SelfSer</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>LessonUpdateSer</servlet-name>-->
    <!--<url-pattern>/LessonUpdateSer</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>FocusSer</servlet-name>-->
    <!--<url-pattern>/FocusSer</url-pattern>-->
  <!--</servlet-mapping>-->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
